<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head.ejs') %> 

<body>

    <!----- Header ------>

    <%- include ('partials/header') %>

    <main class="main-editProduct">
        <div class="contenedor-principal-editProduct">
            <fieldset class="fieldset-editProduct">
            <form method="POST" action="/editProduct/<%=productToEdit.id%>?_method=PUT" enctype="multipart/form-data">
                <legend class="legend-editProduct">Editar Producto </legend>
                <div>
                    <div class="formulario-general-editProduct">
                        <p>Nombre del Producto</p>
                        <input type="text" name="name" class="barra-espacios-editProduct" value="<%=productToEdit.name%>">
                    </div>
                    <div class="formulario-general-editProduct">
                        <p>Precio</p>
                        <input type="number" name="price" class="barra-espacios-editProduct" value=<%=productToEdit.price%> >
                    </div>
                    <div class="formulario-general-editProduct">
                        <p>Descuento</p>
                        <input type="number" name="discount" class="barra-espacios-editProduct" value=<%=productToEdit.discount%>>
                    </div>
                    <div class="formulario-general-editProduct">
                        <p>Descripcion</p>
                        <textarea name="description" class="descripcion-editProduct" rows="5" cols="100" placeholder="Descripción del producto aquí" ><%-productToEdit.description%></textarea>
                    </div>
                    <div class="formulario-general-editProduct">
                        <p>Imagen del Producto</p>
                        <img src="/img/products/<%=productToEdit.image%>" alt="" width="200" height="200" accept=".jpg, .png">
                        <input class="imagenes-editProduct" type="file" name="image" accept=".jpg, .png" > 
                    </div>
                    <div class="formulario-general-editProduct">
                        <p>Categoria</p>
                        <div class="control-radio-editProduct">
                            <div class="radio-editProduct"><input type="radio" class="control-radio-editProduct" name="category_id" value="1"
                                    <%if(productToEdit.category_id==1){%>checked<%}%>>Hombre</input></div>
                            <div class="radio-editProduct"><input type="radio" class="control-radio-editProduct" name="category_id" value ="2"
                                <%if(productToEdit.category_id==2){%>checked<%}%>>Mujer</input></div>
                            <div class="radio-editProduct"><input type="radio" class="control-radio-editProduct" name="category_id" value="3"
                                <%if(productToEdit.category_id==3){%>checked<%}%>>Unisex</input></div>
                        </div>
                    </div>
                    <div class="formulario-general-editProduct">
                        <p>Marca</p>
                        <select name="brand_id" class="control-selector-editProduct">
                            <option>Seleccionar</option>
                            <option  <%if(productToEdit.brand_id==1){%>selected<%}%> value="1">Nike</option>
                            <option  <%if(productToEdit.brand_id==2){%>selected<%}%> value="2">Adidas</option>
                        </select>
                    </div>
                   
                    <div class="boton-editProduct">
                        <button type="submit" class="boton-crear-editProduct">Guardar cambios</button>
                        
                    </div>
         </form>
                    <div class="boton-editProduct">
                    <form method="POST" action="/editProduct/delete/<%=productToEdit.id%>?_method=DELETE">
                        <button type="submit" class="boton-borrar-editProduct">Eliminar producto</button>
                    </form>
                    </div>
                </div>
            </fieldset>
        
        </div>

    </main>

    <!----- Footer ------>

    <%- include ('partials/footer') %>

</body>

</html>