<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head.ejs') %> 

<body>

    <!----- Header ------>

    <%- include ('partials/header') %>

    <main class="main-editProduct">
        <div class="contenedor-principal-editProduct">
            <form method="POST" action="/products/editProduct/<%=productEdit.product_id%>?_method=PUT" enctype="multipart/form-data">
            <fieldset class="fieldset-editProduct">
                <legend class="legend-editProduct">Editar Producto </legend>
                <div>
                    <div class="formulario-general-editProduct">
                        <p>*Nombre del Producto</p>
                        <input type="text" name="product_name" class="barra-espacios-editProduct" value=<%=productEdit.product_name%>>
                    </div>
                    <div class="formulario-general-editProduct">
                        <p>*Precio</p>
                        <input type="text" name="product_price" class="barra-espacios-editProduct" value=<%=productEdit.product_price%> >
                    </div>
                    <div class="formulario-general-editProduct">
                        <p>*Descripcion</p>
                        <textarea name="product_description" class="descripcion-editProduct" rows="5" cols="100" placeholder="Descripción del producto aquí" ><%-productEdit.product_description%></textarea>
                    </div>
                    <div class="formulario-general-editProduct">
                        <p>*Imagen del Producto</p>
                        <img src="/img/<%=productEdit.product_image%>" alt="" width="200" height="200" accept=".jpg, .png">
                        <input class="imagenes-editProduct" type="file" name="product_image" accept=".jpg, .png" > 
                    </div>
                    <div class="formulario-general-editProduct">
                        <p>*Categoria</p>
                        <div class="control-radio-editProduct">
                            <div class="radio-editProduct"><input type="radio" class="control-radio-editProduct" name="product_category" value="Hombre"
                                    <%if(productEdit.product_category=="Hombre"){%>checked<%}%>>Hombre</input></div>
                            <div class="radio-editProduct"><input type="radio" class="control-radio-editProduct" name="product_category" value ="Mujer"
                                <%if(productEdit.product_category=="Mujer"){%>checked<%}%>>Mujer</input></div>
                            <div class="radio-editProduct"><input type="radio" class="control-radio-editProduct" name="product_category" value="Unisex"
                                <%if(productEdit.product_category=="Unisex"){%>checked<%}%>>Unisex</input></div>
                        </div>
                    </div>
                    <div class="formulario-general-editProduct">
                        <p>*Marca</p>
                        <select name="product_brand" class="control-selector-editProduct">
                            <option>Seleccionar</option>
                            <option  <%if(productEdit.product_brand=="Nike"){%>selected<%}%> >Nike</option>
                            <option  <%if(productEdit.product_brand=="Adidas"){%>selected<%}%> >Adidas</option>
                        </select>
                    </div>
                    <div class="formulario-checkbox-editProduct">
                        <div>
                            <p>*Talles</p>
                        </div>
                        <div class="checkbox-editProduct">
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="product_size" value="35" <%if(productEdit.product_size.includes("35")){%>checked<%}%>>35</label>
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="product_size" value="36"<%if(productEdit.product_size.includes("36")){%>checked<%}%>>36</label>
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="product_size" value="37"<%if(productEdit.product_size.includes("37")){%>checked<%}%>>37</label>
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="product_size" value="38"<%if(productEdit.product_size.includes("38")){%>checked<%}%>>38</label>
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="product_size" value="39"<%if(productEdit.product_size.includes("39")){%>checked<%}%>>39</label>
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="product_size" value="40"<%if(productEdit.product_size.includes("40")){%>checked<%}%>>40</label>
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="product_size" value="41"<%if(productEdit.product_size.includes("41")){%>checked<%}%>>41</label>
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="product_size" value="42"<%if(productEdit.product_size.includes("42")){%>checked<%}%>>42</label>
                            <label class="control-checkbox-editProduct"><input type="checkbox" name="product_size" value="43"<%if(productEdit.product_size.includes("43")){%>checked<%}%>>43</label>
                        </div>
                    </div>
                    <div class="boton-editProduct">
                        <button type="submit" class="boton-crear-editProduct">Guardar cambios</button>
                    </div>
                    <div class="boton-editProduct">
                    <form method="POST" action="/products/editProduct/delete/<%=productEdit.product_id%>">
                        <button type="submit" class="boton-borrar-editProduct">Eliminar producto</button>
                    </form>
                    </div>
                </div>
            </fieldset>
        </form>
        </div>

    </main>

    <!----- Footer ------>

    <%- include ('partials/footer') %>

</body>

</html>