<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/index.css">
        
        <script src="https://kit.fontawesome.com/6057857b79.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <title>Sneakers</title>
    </head>
    <body>

    <%- include ('partials/header') %> 

<!-- COMIENZO MAIN -->

    <main>
        <div class="banner-carrusel">
            <img src="/img/adidas-banner-otono.jpg" alt="">
        </div>

        <!-- SECCION WALLPAPERS PRINCIPALES HOME -->

<section class="wallpaper-section">
    <article class="wallpaper-article">
        <div class="wallpaper">
<img src="/img/adidas-wallpaper1.png" alt="">
</div>
</article>
<article class="wallpaper-article">
    <div class="wallpaper">
<img src="/img/nike-wallpaper1.jpg" alt="">
</div>
 </article>

</section>

      <!-- SECCION DESTACADOS HOME -->

<h2>PRODUCTOS DESTACADOS</h2>

<section>
    <% productosDestacados.forEach(producto => { %>
    <article>
       
        <div class="product">
        <a href="/productDetail"><img src="/img/<%=producto.imagen%> " alt=""></a>
        <div class="product-detail">
            <p><%=producto.detalleDeProducto%></p>
            <p class="product-price"><%=producto.precioProducto%></p>
        </div>
        
        </div>
  
            </article>
            <% }) %>
</section>
      <!-- SECCION REBAJAS HOME -->

      <h2>REBAJAS</h2>
<section>
    <% descuentos.forEach(producto => { %>
    <article>
        <div class="product">
            <a href="/productDetail"><img src="/img/<%=producto.imagen%> " alt=""></a>
        <div class="product-detail">
            <p><%=producto.detalleDeProducto%> </p>
            <p class="product-price"><%=producto.precioProducto%> </p>
            <p><%=producto.rebaja%> </p>
        </div>
        
        </div>
            </article>
            <% }) %>

</section>

    </main>

    <!-- FOOTER -->
    <%- include ('partials/footer') %> 

</body>
</html>