<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.ejs') %> 

    <!-- BODY -->

    <body class="indexBody">

    <%- include ('partials/header') %> 

<!-- COMIENZO MAIN -->

    <main class="indexMain">
        <div class="banner-carrusel">
            <img src="/img/products/adidas-banner-otono.jpg" alt="">
        </div>

        <!-- SECCION WALLPAPERS PRINCIPALES HOME -->

<section class="wallpaper-section">
    <article class="wallpaper-article">
        <div class="wallpaper">
<img src="/img/products/adidas-wallpaper1.png" alt="">
</div>
</article>
<article class="wallpaper-article">
    <div class="wallpaper">
<img src="/img/products/nike-wallpaper1.jpg" alt="">
</div>
 </article>

</section>

      <!-- SECCION DESTACADOS HOME -->

<h2>PRODUCTOS DESTACADOS</h2>

<section class="indexDestacados">
    <% destacados.forEach(producto => { %>
    <article class="articleIndex">
       
        <div class="productIndex">
        <a href="/productDetail/<%= producto.product_id %> "><img src="/img/products/<%=producto.product_image%> " alt=""></a>
        <div class="product-detail-Index">
            <p><%=producto.product_name%></p>
            <p class="product-price-Index"><%=producto.product_price%></p>
        </div>
        
        </div>
  
            </article>
            <% }) %>
</section>
      <!-- SECCION REBAJAS HOME -->

      <h2>REBAJAS</h2>
<section class="indexDestacados">
    <% descuentos.forEach(producto => { %>
    <article class="articleIndex">
        <div class="productIndex">
            <a href="/productDetail/<%=producto.product_id%> "><img src="/img/products/<%=producto.product_image%> " alt=""></a>
        <div class="product-detail-Index">
            <p><%=producto.product_name%> </p>
            <p class="product-price-Index"><%=producto.product_price%> </p>
            <p><%=producto.product_discount%> </p>
        </div>
        
        </div>
            </article>
            <% }) %>

</section>

    </main>

    <!-- FOOTER -->
    <%- include ('partials/footer') %> 

</body>
</html>