<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head.ejs') %> 

<body>
    <%- include ('partials/header') %> 
    <main class="mainLogin">
        <form action="/login" method="post">
        <div id="contenedor-principal-login">
            <h3 class="login-title">Iniciar Sesion</h3>
            <div id="contenedor-formulario-login">
                <div class="login-register">
                    <h2 class="titular-sesion-l">Iniciar Sesion</h2>
                   <a href="/register"><h2 class="titular-sesion-r">Registrarse</h2></a>
                </div> 
                <div id="login-formulario">
                    <div class="formulario-email-login">
                        <p>* Email</p>
                        <input type="email" name="email" class="barra-espacios" placeholder="ejemplo@email.com" value="<%= locals.old && old.name %> ">
                        <% if (locals.errors && errors.email) { %>
                            <div class="error-text">
                              <p> <%= errors.email.msg %> </p>  
                            </div>
                           <% } %>
                        
                    </div>
                    <div class="formulario-email-login">
                        <p>* Contrase単a</p>
                        <input type="password" name="password" class="barra-espacios" placeholder="*********">
                        <% if (locals.errors && errors.password) { %>
                            <div class="error-text">
                              <p> <%= errors.password.msg %> </p>  
                            </div>
                           <% } %>
                    </div>
                    <div class="display-linea-login">
                        <div class="checkbox-u"><label><input type="checkbox" name="recordar-usuario">Recordarme</label>
                        </div>
                        <a href="#" class="olvidar-contrase単a">多Olvidaste tu contrase単a?</a>
                    </div>
                </div>
                <div><button type="submit" class="boton-login">Iniciar Sesion</button>
                </div>
            </div>
        </div>
        </div>
    </form>
    </main>
    <%- include ('partials/footerLogin') %> 

</body>

</html>

