<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head.ejs') %> 

<body>
    <%- include ('partials/header') %> 

    <main class="container">
        <div class="filter">
        <p class="filter"> 
            <a href="/">Inicio/</a>
            <a href="/products">Productos/</a>
            <span><%=productosFiltrados.name%></span>
        </p>
    </div>
        <br>
        <div class="Product-detail">
         
            <article class="card-prod">
                <div class="foto-prod">
                    <img src="/img/products/<%=productosFiltrados.image%>" alt="">
                </div>
                <div class="main-article">
                    <p class="name"><%=productosFiltrados.name%></p>
                    <p class="price">$<%=productosFiltrados.price%></p>
                    <p class="text-top">Talle</p>
                    <div class="shoe-size">
                    <button class="size"><span>35</span></button>
                    <button class="size"><span>36</span></button>
                    <button class="size"><span>37</span></button>
                    <button class="size"><span>38</span></button>
                    <button class="size"><span>39</span></button>
                    <button class="size"><span>40</span></button>
                    </div>
                    <form method="POST" action="/productCart/<%=productosFiltrados.id%>">
                      <button class="submit">
                            Agregar al carrito
                        </button></a> 
                    </form>
  
                </div>
            </article>
          

            <article class="product-specification">
                <div class="card-specification">
                    <h3 class="title-specification">Descripción:</h3>
                    <p class="air-max">
                    <%=productosFiltrados.description%>
                    </p>
                </div>
            </article>
           
            <div class="container">
                <div class="row">
                <div class="column">
                    <article class="specifications">
                        <div class="credit-card">
                            <i class="fa-solid fa-credit-card fa-2xl"></i>
                        </div>
                    <h4 class="title-specification">Pagá con tarjeta o con efectivo</h4>
                     <p class="specification">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.¡Y
                        siempre es
                        seguro!</p>
                </div>
                </article>
                <div class="column">
                <article class="specifications">
                    <div class="gift">
                        <i class="fa-solid fa-gift fa-2xl"></i>
                       </div>
                    <h4 class="title-specification">Envío gratis desde $ 2.500</h4>
                    <p class="specification">Solo por estar registrad@ en Sneakers tenés envíos gratis en miles de productos.
                        Es un
                        beneficio
                        de Mercado Puntos.</p>
                </article>
            </div>
            <div class="column">
                <article class="specifications">
                    <div class="user-shield">
                        <i class="fa-solid fa-user-shield fa-2xl"></i>
                    </div>
                    <h4 class="title-specification">Seguridad, de principio a fin</h4>
                    <p class="specification">¿No te gusta? ¡Devolvelo! En Sneakers, no hay nada que no puedas hacer, porque
                        estás siempre protegid@.</p>
                </article>
                </div>
                </div>
            </div>

            <h3 class="recommended">Recomendados para vos</h3>

            <section class="recommended">
                <% destacados.forEach(producto => { %>
                    <article class="articleIndex">
                       
                        <div class="productIndex">
                        <a href="/productDetail/<%= producto.id %> "><img src="/img/products/<%=producto.image%> " alt=""></a>
                        <div class="product-detail-Index">
                            <p><%=producto.name%></p>
                            <p class="product-price-Index"><%=producto.price%></p>
                        </div>
                        
                        </div>
                  
                            </article>
                            <% }) %>
                
            
               
                </section>
        
 

    </main>
    <%- include ('partials/footer') %> 
</body>
</html>