<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/productCart.css" /> <!--agregado para que likee a la pág de estilos del carrito-->
    <!-- <link rel="stylesheet" href="/css/normalize.css" /> -->
    
    <script src="https://kit.fontawesome.com/6057857b79.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    
    
    <title>Product Cart</title>
</head>
<body>
  <%- include ('partials/header') %> 

    <main>
        
        <div class="contenedor-gral">
            <div class="contenedor-titular">
                 <h2 class="cart">CARRITO DE COMPRAS</h2>
            </div>
            
            <div class="contenedor-productos">
                
              <article><!--Producto-->
                <div class="bloqueProducto">
                    <div class="linea">  <!-- linea horizontal-->
                        <hr>
                    </div>
                    <div class="bloqueSuperiorProducto">
                        <div class="foto"><!--bloque foto-->
                            <img class="foto-producto" src="/img/NikeEjemplo.jpeg" alt="Producto1">
                        </div>
                        
                        <div class="descripcion"><!--bloque descripción-->
                              <div class="modelo"><p class="cart" > Nike Air</p>
                              </div>
                              <div class="color"><p class="cart" >Color: Negro</p>
                              </div>
                              <div class="talle"><p class="cart" >Talle: 42</p>
                              </div>
                        </div>
                        <div class="columnaCantidad">
                            <div class="cantidad" ><!--bloque cantidad-->
                                <div class="cantidadtexto"><p class="cart" >Cantidad:</p>
                                </div>
                                    <!--BOTÓN CANTIDAD-->
                                <div class="input-group plus-minus-input">
                                        <input class="input-group-field" type="number" name="quantity" value="0" width=10px >
                                </div>     
                            </div>
                            <div class="preciounidad">
                                <p class="cart" >Precio unit.:</p>
                                <p class="cart" >$10.000</p>
                            </div>
                        </div>
                        <div class="precio"><!--bloque precio-->
                            <p class="cart" >$30000</p>
                        </div>
                        
                    </div>
                    <div class="bloqueInferiorProducto"><!--bloque precio-->
                        <a href="#">Eliminar</a>
                        <a href="#">Modificar</a>
                        <a href="#">Ver otros artículos del vendedor</a>
                    </div>
                    
                </div>
              </article>


                <article><!--Producto-->
                    <div class="bloqueProducto">
                        <div class="linea">  <!-- linea horizontal-->
                            <hr>
                        </div>
                        <div class="bloqueSuperiorProducto">
                            <div class="foto"><!--bloque foto-->
                                <img class="foto-producto" src="/img/NikeEjemplo.jpeg" alt="Producto1">
                            </div>
                            
                            <div class="descripcion"><!--bloque descripción-->
                                  <div class="modelo"><p class="cart" > Nike Air</p>
                                  </div>
                                  <div class="color"><p class="cart" >Color: Negro</p>
                                  </div>
                                  <div class="talle"><p class="cart" >Talle: 42</p>
                                  </div>
                            </div>
                            <div class="columnaCantidad">
                                <div class="cantidad" ><!--bloque cantidad-->
                                    <div class="cantidadtexto"><p class="cart" >Cantidad:</p>
                                    </div>
                                        <!--BOTÓN CANTIDAD-->
                                    <div class="input-group plus-minus-input">
                                            <input class="input-group-field" type="number" name="quantity" value="0" width=10px >
                                    </div>     
                                </div>
                                <div class="preciounidad">
                                    <p class="cart" >Precio unit.:</p>
                                    <p class="cart" >$10.000</p>
                                </div>
                            </div>
                            <div class="precio"><!--bloque precio-->
                                <p class="cart" >$30000</p>
                            </div>
                            
                        </div>
                        <div class="bloqueInferiorProducto"><!--bloque precio-->
                            <a href="#">Eliminar</a>
                            <a href="#">Modificar</a>
                            <a href="#">Ver otros artículos del vendedor</a>
                        </div>
                        <div class="linea">  <!-- linea horizontal-->
                            <hr>
                        </div>
                    </div>
                  </article>
                  <article>
                        <div class="bloqueSuma">
                            <div class="envio"><!--bloque SUBTOTAL SIN ENVIO-->
                                <div class="envio-leyenda"><p class="cart" >Costo de envío:</p>
                                </div>
                                <div class="envio-precio"><p class="cart" >$500</p>
                                </div>
                            </div>
                            
                            
                            <div class="total"><!--bloque SUBTOTAL SIN ENVIO-->
                                <div class="total-leyenda">Total de la compra:
                                </div>
                                <div class="total-precio">$90.500
                                </div>
                            </div>
                            <div class="continuarCompra">
                            
                                <button class="finalizar" type="submit"><p class="cart" >¡Finalizar compra!</p></button>
                              
                            </div>

                        </div>
                        
                    
                   
                </article>
            </div>
        </div>  
        

        <!--RECOMENDADOS PARA VOS------------------------------------------------->
        
        <section class="recommended">
        <div class="titularRecomendados">
            <h2 class="cart">RECOMENDADOS PARA VOS</h2>
        </div>
        
        <div class="recomendados">

            <% productosRecomendados.forEach(producto => { %>
          <article class="art-recomendados">
            <div class="product">
                <a href="/productDetail"><img src="/img/<%=producto.imagen%> " alt=""></a>
            <div class="product-detail">
                <p class="cart" ><%=producto.detalleDeProducto%> </p>
                <p class="cart"  class="product-price"><%=producto.precioProducto%></p>
            </div>
            
            </div>
          </article>
          <% }) %>
         
            </div>
        </section>


        


    </main>
    <%- include ('partials/footer') %> 
    
</body>
</html>



