<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.ejs') %> 

    <!-- BODY -->

    <body class="indexBody">

    <%- include ('partials/header') %> 

<!-- COMIENZO MAIN -->

    <main class="indexMain">


        <!-- SECCION WALLPAPERS PRINCIPALES HOME -->


      <!-- SECCION DESTACADOS HOME -->

<h2>PRODUCTOS</h2>

<section class="indexDestacados">
    <% productos.forEach(producto => { %>
    <article class="articleIndex" id="resultado">
       
        <div class="productIndex"> 
        <a href="/productDetail/<%=producto.id%> "><img src="/img/products/<%=producto.image%> " alt=""></a>
        <div class="product-detail-Index">
            <p><%=producto.name%></p>
            <p class="product-price-Index">$ <%=producto.price%></p>
        </div>
        
        </div>
  
            </article>
            <% }) %>
</section>
      <!-- SECCION REBAJAS HOME -->



    </main>

    <!-- FOOTER -->
    <%- include ('partials/footer') %> 
    <script src="/js/buscador.js"></script>
</body>
</html>