<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head.ejs') %> 

<body>
    <%- include ('partials/header') %> 

    <main class="container">
        <div class="filter">
        <p class="filter"> <a href="/">INICIO</a>/<a href="#">HOMBRE</a>/<a href="#">CALZADO</a></p>
    </div>
        <br>
        <div class="Product-detail">
            <article class="card-prod">
                <div class="foto-prod">
                    <img src="/img/NikeEjemplo.jpeg" alt="ProductDetail">
                </div>
                <div class="main-article">
                    <p class="name">Modelo Nike</p>
                    <p class="price">$120.000</p>
                    <p class="text-top">Talle</p>
                    <div class="shoe-size">
                    <button class="size"><span>35</span></button>
                    <button class="size"><span>36</span></button>
                    <button class="size"><span>37</span></button>
                    <button class="size"><span>38</span></button>
                    <button class="size"><span>39</span></button>
                    <button class="size"><span>40</span></button>
                    </div>
                   <a href="/productCart"><button class="submit">
                        Agregar al carrito
                    </button></a> 
                </div>
            </article>
            <article class="product-specification">
                <div class="card-specification">
                    <h3 class="title-specification">Descripción:</h3>
                    <p class="air-max">
                    Las Air Max Dawn, fiel a sus orígenes, están confeccionadas con al menos un 20% de material reciclado por peso. La gamuza sintética y los demás materiales combinan el estilo vintage del running con detalles nuevos. La amortiguación Nike Air brinda comodidad para todo el día.
                    </p>
                </div>
            </article>
            <div class="container">
                <div class="row">
                <div class="column">
                    <article class="specifications">
                    <h4 class="title-specification">TRANSFORMÁ EL PROBLEMA EN LA SOLUCIÓN</h4>
                     <p class="specification">Este producto está hecho con Primegreen, una serie de materiales reciclados de alto rendimiento. El 50 % del exterior está hecho con material reciclado. No contiene poliéster virgen.</p>
                </div>
                </article>
                <div class="column">
                <article class="specifications">
                    <h4 class="title-specification">LOS LÍMITES TE LOS PONÉS VOS.</h4>
                    <p class="specification">El increíble retorno de energía de la tecnología Boost se crea gracias a las pequeñas cápsulas que componen la suela y te permiten avanzar con más fuerza.</p>
                </article>
            </div>
            <div class="column">
                <article class="specifications">
                    <h4 class="title-specification">SUELA DE CAUCHO CONTINENTAL™ WINTERGRIP™</h4>
                    <p class="specification">La suela te brinda una tracción perfecta en todas las superficies, en climas fríos y húmedos.</p>
                </article>
                </div>
                </div>
            </div>

            <h3 class="recommended">Recomendados para vos</h3>

            <section class="recommended">
                <% productosRecomendados.forEach(productos => { %>
                    <article class="detalles">
                        <div class="product-detalle">
                        <a href="/productCart"><img src="/img/<%=productos.imagen%> " alt=""></a>
                        <div class="product-detalles2">
                            <p><%= productos.detalleDeProducto %> </p>
                            <p class="product-price"><%= productos.precioProducto %> </p>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                        
                        </div>
                            </article>
                <% }) %>
                
            
               
                </section>
        
 

    </main>
    <%- include ('partials/footer') %> 
</body>
</html>