<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head.ejs') %> <body>
  

    <main>
        <%- include ('partials/header') %> 
        <div class="contenedor-gral">
            <div class="contenedor-titular">
                 <h2 class="cart">CARRITO DE COMPRAS</h2>
            </div>
            
            <div class="contenedor-productos">
                <div class="carrito">
                
                <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <div class="cajaPadding">
                 


                    <% if(arrayCarrito.length > 0) { %>



                    <% arrayCarrito.forEach(producto => { %>
                    <article><!--Producto-->
                          <div class="bloqueProducto">
                              <div class="linea">  <!-- linea horizontal-->
                                  <hr>
                              </div>
                              <div class="bloqueSuperiorProducto">
                                  <div class="foto"><!--bloque foto-->
                                      <img class="foto-producto" src="/img/products/public/img/products/nike-air-huarache.jpg" alt="Producto1">
                                  </div>

                                  
                                  <div class="descripcion"><!--bloque descripción-->
                                        <div class="modelo"><p class="cart" > <%=producto.product_name %></p>
                                        </div>
                    
                                        <div class="talle"><p class="cart" >Talle: <%= producto.product_size%> </p>
                                        </div>
                                  </div>
                                  <div class="columnaCantidad">
                                      <div class="cantidad" ><!--bloque cantidad-->
                                          <div class="cantidadtexto"><p class="cart" >Cantidad:</p>
                                          </div>
                                              <!--BOTÓN CANTIDAD-->
                                          <div class="input-group plus-minus-input">
                                                  <input class="input-group-field" type="number" name="quantity" value="0" width=10px >
                                          </div>     
                                      </div>
                                      <div class="preciounidad">
                                          <p class="cart" >Precio unit.:</p>
                                          <p class="cart" ><%=producto.product_price%> </p>
                                      </div>
                                  </div>
                                  <div class="precio"><!--bloque precio-->
                                      <p class="cart" >Suma total: </p>
                                  </div>
                                  
                              </div>
                              <div class="bloqueInferiorProducto"><!--bloque precio-->
                                  <form method="POST" action="/productCart/delete/<%=producto.product_id%>?_method=DELETE">
                                    <button class="submit">
                                          Eliminar
                                      </button></a> 
                                  </form>
                                  <a href="#">Modificar</a>
                                  <a href="#">Ver otros artículos del vendedor</a>
                              </div>
                              
                          </div>
                    </article>
                    <% }) %>

                    



                      <article>
                            <div class="bloqueSuma">
                                <div class="envio"><!--bloque SUBTOTAL SIN ENVIO-->
                                    <div class="envio-leyenda"><p class="cart" ><i class="fa-solid fa-truck"></i>  Costo de envío:</p>
                                    </div>
                                    <div class="envio-precio"><p class="cart" >$500</p>
                                    </div>
                                </div>
                                
                                
                                <div class="total"><!--bloque SUBTOTAL SIN ENVIO-->
                                    <div class="total-leyenda">Total de la compra:
                                    </div>
                                    <div class="total-precio">$90.500
                                    </div>
                                </div>
                                <div class="continuarCompra">
                                
                                    <button class="finalizar" type="submit"><p class="cart" >¡Finalizar compra!</p></button>
                                
                                </div>
                            
                            </div>
                            
                        
                        
                    </article> 
                    <% } else { %>

                        <h2> ¡Tu carrito está vacío!</h2>

                    <% } %>


                </div>
            </div>
        </div>  
        

        <!--RECOMENDADOS PARA VOS------------------------------------------------->
        
        <section class="recommended">
        <div class="titularRecomendados">
            <h2 class="cart">RECOMENDADOS PARA VOS</h2>
        </div>
        
        <div class="recomendados">

            <% destacados.forEach(producto => { %>
          <article class="art-recomendados">
            <div class="product">
                <div class="product-foto">
                <a href="/productDetail"><img src="/img/products/<%=producto.product_image%> " alt=""></a>
                </div>
                <div class="product-detail">
                <p class="cart" ><%=producto.product_description%> </p>
                <p class="product-price"><%=producto.product_price%></p>
                </div>
            
            </div>
          </article>
          <% }) %>
         
            </div>
        </section>


        


    </main>
    <%- include ('partials/footer') %> 
    
</body>
</html>



