<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.ejs') %> 

    <!-- BODY -->

    <body class="indexBody">

    <%- include ('partials/header') %> 

<!-- COMIENZO MAIN -->

    <main class="indexMain">

    <h2>USUARIOS</h2>

<section class="indexDestacados">
    <% usersJson.forEach(user => { %>
        <article class="articleIndex">
           
            <div class="productIndex">
            <img src="img/users/<%=user.avatar%>" alt="">
            <div class="product-detail-Index">
                <p><%=user.first_name%> <%=user.last_name%></p>
                <p class="product-price-Index"><%=user.email%></p>
            </div>
            
            </div>
      
                </article>
                <% }) %>
            </section>
    </main>

    <!-- FOOTER -->
    <%- include ('partials/footer') %> 

</body>
</html>